<!DOCTYPE html>
<html>
<head>
	<style>
	body
	{
		font-family: Times New Roman;
	}
	th
	{
		text-transform: capitalize;
		border-bottom: solid;
		width: 120px;
	}

	.tr1
	{
		background-color: rgb(255,240,240);
	}
	.tr1:hover,.tr2:hover
	{
		background-color: lightblue;
	}
	table
	{
		cursor: pointer;
	}
	 </style>
</head>
