<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		tr:hover{
			background-color: #55E6C1;
		}
		
		.a{
			text-transform: uppercase;
			color: darkblue;
			font-weight: bolder;
		}
		.a:hover
		{
			background-color: #FD7272;
			
		}
		td{
			width: 300px;
			font-size: 25px;
		}
	</style>
</head>
